{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        {% if title %}
        <title> {{ title }} </title>
        {% else %}
        <title>News - Top News and Stories For You</title>
        {% endif %}
    </head>
    <body>
        <h2>Business News</h2>
       <ul>
           {{ macro.displaySourceList(business_news)}}
        </ul>
        
       <h2>Entertainment News </h2>
         <ul>
            {{ macro.displaySourceList(entertainment_news)}}
        </ul>

        <h2> Technology News </h2>
         <ul>
            {{ macro.displaySourceList(technology_news)}}
        </ul>

        <h2>Health News</h2>
         <ul>
            {{ macro.displaySourceList(health_news)}}
         </ul>
    </body>
</html>
