{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        {% if title %}
        <title> {{ title }} </title>
        {% else %}
        <title>News - Top News and Stories For You</title>
        {% endif %}
    </head>
    <body>
        <!-- Content block -->
        {% block content %}

        <h3>Business News</h3>
       <ul>
           {{ macro.displaySourceList(business_news)}}
        </ul>
        
       <h3>Entertainment News </h3>
         <ul>
            {{ macro.displaySourceList(entertainment_news)}}
        </ul>

        <h3> Technology News </h3>
         <ul>
            {{ macro.displaySourceList(technology_news)}}
        </ul>

        <h3>Health News</h3>
         <ul>
            {{ macro.displaySourceList(health_news)}}
         </ul>
         {% endblock%}
    </body>
</html>
